@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Raleway:ital,wght@0,100;0,300;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
    font-family: 'Raleway';
}
.navigation{
    background-color: #8c50ff;
    padding: 20px;
    width: 100%;
    position: fixed;
    margin-top: -6.3em;

}

.navigation a{
    color:rgb(252, 252, 252);
    text-decoration: none;  
    margin: 0 60px 0 0;
    font-size: 20px;
    font-weight: bold;
}

.pag{
    background-color: #7f49e2;
    border-radius: 5px;
    padding: 10px;
}
.title{
    color: #141414;
}
.title > h1{
    margin: 100px 0 20px 0;
    font-size:40px;
}
.text{
    text-align: left;
    margin: 50px 50px 0 50px;
    font-size: 20px;
}
.text > p{
    margin: 0 0 20px 0;
}
.text a{
    color: #8c50ff;
}
#troll{
    color: #8c50ff;
    cursor: pointer;
    text-decoration: underline;
}
.imagem-coding > img{
    height: 500px;
    margin: 40px 0;
}
.invisible-text{
    color: #fff;
    font-size:20px;
    margin: 30px 0;
}
.icons-downloader img{
    width: 150px;
    margin: 50px;
}
.creditos{
    margin: 0 0 20px 0;
}
#home{
    text-align: left;
    margin: 0 500px 0 0;
}
.color-pre{
    color: #8c50ff;
}
.bold{
    font-weight: 900;
}
.dica-um{
    border: 1px #272727 solid;
    padding: 10px;
    font-size: 40px;
    color: #141414;
    width: max-content;
    margin: 20px auto;
}
.second-title{
    font-size: 25px;
}
#exemplohome{
    font-size: 30px;
}